In [9]:
import pandas as pd
from supabase import create_client
SUPABASE_URL = "https://uobulncmptvgsprjuqky.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvYnVsbmNtcHR2Z3Nwcmp1cWt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUyMjYyMTcsImV4cCI6MjA4MDgwMjIxN30.sthTRFsP9lNn9niVNvDgxPTw_NQfx9Aw9DeAwyMNDhU"
supabase = create_client(SUPABASE_URL, SUPABASE_KEY)

In [16]:
supabase = create_client(SUPABASE_URL, SUPABASE_KEY)
data = supabase.table("Expence").select("*").execute()

In [20]:

response = supabase.table("Expence") \
        .select("*") \
        .execute()

In [40]:
response
df=pd.DataFrame(response.data)
df

,Id,Date,Category,Amount,Description,Payment_Method,user_id
0,15,2025-12-11,Shopping,1500.0,Pants,UPI,45931654-f3a9-45aa-a51a-28c00d6b03ee
1,16,2025-12-11,Food & Dining,100.0,Biryani,Cash,718eae4f-2089-4d72-9e29-2f4274b17787
2,23,2025-12-11,Groceries,30.0,Milk,Cash,718eae4f-2089-4d72-9e29-2f4274b17787
3,24,2025-12-11,Groceries,30.0,Bread,Cash,718eae4f-2089-4d72-9e29-2f4274b17787
4,26,2025-12-12,Bills & Utilities,2500.0,Electric Bill,UPI,45931654-f3a9-45aa-a51a-28c00d6b03ee
5,28,2025-12-13,Food & Dining,300.0,full biriyani,Cash,070d845e-6d14-4d5f-98a2-2efcb5e9fa6c
6,29,2025-12-13,Food & Dining,40.0,drinks,Cash,070d845e-6d14-4d5f-98a2-2efcb5e9fa6c
7,30,2025-12-13,Education,40.0,books,Cash,070d845e-6d14-4d5f-98a2-2efcb5e9fa6c
8,31,2025-12-13,Shopping,4450.0,,UPI,45931654-f3a9-45aa-a51a-28c00d6b03ee
9,27,2025-12-14,Food & Dining,100.0,vuhvu,Cash,45931654-f3a9-45aa-a51a-28c00d6b03ee
10,32,2025-12-14,Shopping,700.0,Top,UPI,c2f34666-de5a-4e86-bb24-13497adc5c1b
11,33,2025-12-14,Travel,150.0,Petrol refilling,Cash,192367f1-11d0-482f-8360-f50cd7f0fe39
12,34,2025-12-14,Food & Dining,20.0,Tea,Cash,192367f1-11d0-482f-8360-f50cd7f0fe39
13,35,2025-12-15,Food & Dining,100.0,Biryani,Cash,45931654-f3a9-45aa-a51a-28c00d6b03ee

In [51]:
df["Month"] = df["Date"].dt.to_period("M")  # adds column to df
monthly_expense = df.groupby("Month")["Amount"].sum()
monthly_expense

Month
2025-12    10060.0
Freq: M, Name: Amount, dtype: float64

In [55]:
# 1. Add Month column as string
df["Month"] = df["Date"].dt.to_period("M").astype(str)

# 2. Group by Month and sum
monthly_expense = df.groupby("Month")["Amount"].sum().reset_index()

# 3. Plot bar chart
import plotly.express as px

fig = px.bar(
    monthly_expense,
    x="Month",
    y="Amount",
    title="Total Expense per Month",
    text="Amount"
)

fig.show()